{% extends 'blog/base.html' %}

{% block header %}
    <div class='row my-3 py-3 mx-1 px-2 border rounded' style="background-color: #f7f8f9;">
        <h5 class='align-self-center mr-auto lead'>All Boards</h5>
        <div>
            <a href="{% url 'create-board' %}" role='button' class='btn btn-outline-primary'>Create Board</a>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div>
        <span class='d-flex justify-content-around'>
            <a href="#">A</a>
            <a href="#">B</a>
            <a href="#">C</a>
            <a href="#">D</a>
            <a href="#">E</a>
            <a href="#">F</a>
            <a href="#">G</a>
            <a href="#">H</a>
            <a href="#">I</a>
            <a href="#">J</a>
            <a href="#">K</a>
            <a href="#">L</a>
            <a href="#">M</a>
            <a href="#">N</a>
            <a href="#">O</a>
            <a href="#">P</a>
            <a href="#">Q</a>
            <a href="#">R</a>
            <a href="#">S</a>
            <a href="#">T</a>
            <a href="#">U</a>
            <a href="#">V</a>
            <a href="#">W</a>
            <a href="#">X</a>
            <a href="#">Y</a>
            <a href="#">Z</a>
        </span>
    </div>
    {% if boards %}
        <div class='list-group py-3'>
            {% for board in boards %}
                <a href="{% url 'board-detail-list' board.pk %}" class='list-group-item list-group-item-action'>
                    <div>
                        <h5>{{ board.title }}</h5>
                    </div>
                    <div>
                        <small>{{ board.description }}</small>
                    </div>
                    <div>
                        <small>{{ board.subscription.count }} members</small>  
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class='jumbotron m-3'>
            <h3 class='display-4'>Looks like there aren't any boards here!</h3>
            <div class='border-top pt-3'>
                <small class='text-muted'>Click "Create Board" above to create a new board.</small>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block sidebar %}
    <div class="list-group my-3">
        <a href="#" class="list-group-item list-group-item-action disabled" style="background-color: #006DFE; color: white;">Communities</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    </div>
{% endblock sidebar %}