{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class='card m-3'>
    <h5 class='card-header'>
        {{ post.title }}
        <div class='row'>
            <div class='col'>
                <small>Posted {{ post.date_posted }} by <a href="{% url 'view-profile' post.author.pk %}">{{ post.author }}</a></small>
            </div>
        </div>
    </h5>
    <div class='card-body'>
        <p>{{ post.content }}</p>
    </div>
    <div class='card-footer'>
            <div class='d-flex justify-content-start'>
                <a href="{% url 'like-post' post.id %}">Like</a>: {{ post.likes.count }}
                <a href="{% url 'dislike-post' post.id %}">Dislike</a>: {{ post.dislikes.count }}
            </div>
            <div class='d-flex justify-content-end'>
                {% if user == post.author %}
                <small><a href="{% url 'update-post' post.id %}">Edit Post |</a></small>
                <small><a href="{% url 'delete-post' post.id %}">| Delete Post</a></small>
                {% endif %}
            </div>
    </div>
</div>

<div>
    <div>
        <form action="#" method="POST">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <button class='btn btn-primary d-flex justify-content-end' type="submit">Add Comment</button>
        </form>
    </div>
    <h5 class='pt-3'>Comments</h5>
    <hr>
    {% if post.comment_set.all %}
        <div class='list-group py-3'>
            <ul class='list-group list-group-flush'>
                {% for comment in post.comment_set.all %}
                <li class='list-group-item'>
                    <div>
                        <h5>{{ comment.content}}</h5>
                        <small>Posted by {{ comment.commenter }} | {{ comment.date_posted }}</small>
                        <small><a href="{% url 'like-comment' post_pk=post.id comment_pk=comment.id %}">Like: </a>{{ comment.likes.count }}</small>
                        <small><a href="{% url 'dislike-comment' post_pk=post.id comment_pk=comment.id %}">Dislike: </a>{{ comment.dislikes.count }}</small>
                    </div>
                </li>
                {% endfor %}
            </ul>    
        </div>
    {% else %}
        <div class='jumbotron m-3'>
            <h3 class='display-4'>Looks like there aren't any comments here!</h3>
            <hr>
            <div>
                <small class='text-muted'>Click "Add Comment" above to add a new comment.</small>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}