{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class='card m-3'>
    <div class='card-header'>
        <h5>{{ post.title|title }}</h5>
        <div class='row'>
            <div class="col">
                <small>Posted {{ post.date_posted }} by <a href="{% url 'view-profile' post.author.pk %}">{{ post.author}}</a> to <a href="{% url 'board-detail-list' post.board.pk %}">{{ post.board }}</a></small>
            </div>
        </div>
    </div>
    <div class='card-body'>
        <p>{{ post.content }}</p>
    </div>
    <div class='card-footer'>   
        <div class='row'>
            <div class='col-10'>
                <a href="{% url 'like-post' post.id %}">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="#F73009" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </a>
                {% if post in user.post_likes.all %}
                    <strong style="color: #F73009;">{{ post.get_rating }}</strong>
                {% elif post in user.post_dislikes.all %}
                    <strong style="color: #8283F6;">{{ post.get_rating }}</strong>    
                {% else %}
                    <strong>{{ post.get_rating }}</strong>
                {% endif %}
                <a href="{% url 'dislike-post' post.id %}"> 
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="#8283F6" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a> 
                <small class='text-muted align-self-end'>{{ comments.count }} comments</small>
            </div>
            <div class='col-2'>
                {% if user == post.author %}
                <small><a href="{% url 'update-post' post.id %}">Edit Post |</a></small>
                <small><a href="{% url 'delete-post' post.id %}">| Delete Post</a></small>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div>
    <div>
    {% if user.is_authenticated %}
        <form action="#" method="POST" class='row'>
            {% csrf_token %}
            <div class='col-10 mr-5'>
                {{ comment_form | crispy }}
            </div>
            <button class='btn btn-primary ml-5 my-3 align-self-end' type="submit">Add Comment</button>
        </form>
    {% else %}
        <div class='row mx-3 py-2 border rounded' style="background-color: #f6f8f9;">
            <div class='col-8 align-self-end justify-content-end'>
                <h5 class='text-muted'>Log in or Sign Up to write a comment.</h5>
            </div>
            <div class='col-4 justify-content-end'>
                <a href="{% url 'login' %}" class='btn btn-outline-primary mx-2' role="button">LOG IN</a>
                <a href="{% url 'register' %}" class='btn btn-primary' role="button" style="color: white;">SIGN UP</a>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="row justify-content-end dropdown mx-1 my-1 py-1">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if request.resolver_match.url_name == 'post' %}
                <a class="dropdown-item active" href="{% url 'post' post.pk %}">Recent</a>
                <a class="dropdown-item" href="{% url 'post-top-comments' post.pk %}">Top</a>
                <a class="dropdown-item" href="{% url 'post-controversial-comments' post.pk %}">Controversial</a>
            {% elif request.resolver_match.url_name == 'post-top-comments' %}
                <a class="dropdown-item" href="{% url 'post' post.pk %}">Recent</a>
                <a class="dropdown-item active" href="{% url 'post-top-comments' post.pk %}">Top</a>
                <a class="dropdown-item" href="{% url 'post-controversial-comments' post.pk %}">Controversial</a>
            {% else %}
                <a class="dropdown-item" href="{% url 'post' post.pk %}">Recent</a>
                <a class="dropdown-item" href="{% url 'post-top-comments' post.pk %}">Top</a>
                <a class="dropdown-item active" href="{% url 'post-controversial-comments' post.pk %}">Controversial</a>
            {% endif %}
        </div>
    </div>
    {% if comments %}
        <div class='list-group py-2'>
            <ul class='list-group list-group-flush'>
                {% for comment in comments %}
                <li class='list-group-item'>
                    <div class='row'>
                        <small><a href="{% url 'view-profile' comment.author.id %}">{{ comment.author }}</a> {{ comment.date_posted }}</small>
                    </div>
                    <div class='row'>
                        <small>
                            <a href="{% url 'like-comment' post_pk=post.id comment_pk=comment.id %}">
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="#F73009" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                            </a>
                            {% if comment in user.comment_likes.all %}
                                <strong style="color: #F73009;">{{ comment.get_rating }}</strong>
                            {% elif comment in user.comment_dislikes.all %}
                                <strong style="color: #8283F6;">{{ comment.get_rating }}</strong>    
                            {% else %}
                                <strong>{{ comment.get_rating }}</strong>
                            {% endif %}
                            <a href="{% url 'dislike-comment' post_pk=post.id comment_pk=comment.id %}"> 
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="#8283F6" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </a> 
                        </small>
                        <div class='pl-4'>
                            {{ comment.content}}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>    
        </div>
    {% else %}
        <div class='jumbotron m-3' style="background-color: #f6f8f9;">
            <h3 class='display-4'>Looks like there aren't any comments here!</h3>
            <hr>
            <div>
                <small class='text-muted'>Click "Add Comment" above to add a new comment.</small>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block sidebar %}
    <div class='jumbotron my-3'>
        <h3>{{ post.board.title }}</h3>
        <hr>
        <div>
            <p>{{ post.board.description }}</p>
            <div class='row'>
                <small class='col-8 align-self-center'>{{ post.board.subscription.count }} members</small>
                {% if post.board in user.subs.all %}
                    <a href="{% url 'unsubscribe' post.board.id %}" role="button" class="col-4 btn btn-primary">Unsubscribe</a>
                {% else %}
                    <a href="{% url 'subscribe' post.board.id %}" role="button" class="col-4 btn btn-primary">Subscribe</a>
                {% endif %}
            </div>
            <hr>
            <small>Created on {{ post.board.date_created }}</small>
        </div>
    </div>
    
    <div class="list-group my-3">
        <a href="#" class="list-group-item list-group-item-action active disabled">Other Boards in this Community</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    </div>

    <div class="list-group my-3">
        <a href="#" class="list-group-item list-group-item-action active disabled">Popular Boards</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    </div>
{% endblock sidebar %}
