{% extends 'blog/base.html' %}

{% block header %}
    <div class='row mx-1 my-3 py-3 border-bottom border rounded-lg' style="background-color: #f7f8f9;">
        <div class='mr-auto'>
            <div class="row dropdown">
                <h5 class='align-self-end mx-4 lead'>Home</h5>
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if request.resolver_match.url_name == 'home' %}
                        <a class="dropdown-item active" href="{% url 'home' %}">Recent</a>
                        <a class="dropdown-item" href="{% url 'home-top-all' %}">Top</a>
                        <a class="dropdown-item" href="{% url 'home-controversial' %}">Controversial</a>
                    {% elif request.resolver_match.url_name == 'home-top-all' %}
                        <a class="dropdown-item" href="{% url 'home' %}">Recent</a>
                        <a class="dropdown-item active" href="{% url 'home-top-all' %}">Top</a>
                        <a class="dropdown-item" href="{% url 'home-controversial' %}">Controversial</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'home' %}">Recent</a>
                        <a class="dropdown-item" href="{% url 'home-top-all' %}">Top</a>
                        <a class="dropdown-item active" href="{% url 'home-controversial' %}">Controversial</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class='align-self-end pr-3'>
            <a href="{% url 'create-post' %}" role='button' class='btn btn-outline-primary'>Create Post</a>
        </div>
    </div>
{% endblock header %}

{% block content %}
    {% if posts %} 
    <div class='list-group py-3'>
        {% for post in page_obj %}
        <div class='d-flex bd-highlight'>
            <div class='px-2 flex-shrink-1 bd-highlight' style="background-color: #f6f8f9;">
                <div class='d-flex justify-content-center'>
                    <a href="{% url 'like-post' post.id %}">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-up-short" fill="#F73009" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </a>
                </div>
                <div class='d-flex justify-content-center'>
                    {% if post in user.post_likes.all %}
                        <strong style="color: #F73009;">{{ post.get_rating }}</strong>
                    {% elif post in user.post_dislikes.all %}
                        <strong style="color: #8283F6;">{{ post.get_rating }}</strong>    
                    {% else %}
                        <strong>{{ post.get_rating }}</strong>
                    {% endif %}
                </div>
                <div class='d-flex justify-content-center'>
                    <a href="{% url 'dislike-post' post.id %}"> 
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-down-short" fill="#8283F6" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a> 
                </div>
            </div>
            <div class='px-2 w-100 bd-highlight'>
                <a href="{% url 'post' post.board.id post.id %}" class='list-group-item list-group-item-action'>
                    <div class='row'>
                        <div class='col'>
                            <h5>{{ post.title }}</h5>
                        </div>
                    </div>
                    <div class='row'>
                        <small class='col align-self-start'>posted {{ post.date_posted }} by {{ post.author }} to {{ post.board }}</small>
                    </div>
                    <div class='row'>
                        <small class='col'>Comments: {{ post.comment_set.count }}</small>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class='d-flex justify-content-end'>
        <span class='step-links'>
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                |
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif%}

            <span class='current'>
                {% if page_obj.number > 1%}
                    [Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}]
                {% endif %}
            </span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                |
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <div class='jumbotron m-3'>
        <h3 class='display-4'>Looks like there aren't any posts here!</h3>
        <div class='border-top pt-3'>
            <small class='text-muted'>Click "Create Post" above to add a new post.</small>
        </div>
    </div>
    {% endif %}

{% endblock content %}

{% block sidebar %}
    <div class="list-group my-3">
        <a href="#" class="list-group-item list-group-item-action active disabled">Popular Boards</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    </div>

    <div class="list-group my-3">
        <a href="#" class="list-group-item list-group-item-action active disabled">Explore Communities</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    </div>
{% endblock sidebar %}