{% extends 'blog/profile_base.html' %}

{% block header %}
    <div class='jumbotron row mt-4'>
        <div class='col-4'>
            <img src="{{ user.profile.picture.url }}" class='rounded-circle account-img border' alt="">
        </div>
        <div class='col-8'>
            <h3 class='display-4'>{{ user.username }}'s Profile</h3>
            <div class='border-top border-secondary pt-3'>
                <small>{{ user.profile.description }}</small>
            </div>
        </div>
    </div>
{% endblock header %}

{% block profile-navbar %}
    <nav class="nav nav-pills border nav-fill my-4">
        <a class="nav-link" href="{% url 'view-profile' user.pk %}">Posts</a>
        <a class="nav-link" href="{% url 'profile-comments' user.pk %}">Comments</a>
        <a class="nav-link" href="{% url 'profile-likes' %}">Likes</a>
        <a class="nav-link active" href="{% url 'profile-dislikes' %}">Dislikes</a>
      </nav>
{% endblock profile-navbar %}

{% block content %}    
    <div class='card my-4'>
        <div class='col card-header'>
            <h5>Posts Liked</h5>
        </div>
        <div class='list-group'>
            {% if user.post_dislikes.all %}
                {% for post in user.post_dislikes.all %}
                <a href="{% url 'post' post.id %}" class='list-group-item list-group-item-action'>
                    <div>
                        {{ post.title }}
                    </div>
                    <div>
                        <small style="color: #8283F6;"><strong>{{ post.get_rating }} points</strong></small>
                        <small>posted {{post.date_posted}} by {{ post.author }} to {{ post.board }}</small>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <p class='d-flex pt-2 justify-content-center'>No Posts Disiked</p>
            {% endif %}
        </div>

        {% comment %} <div class='card my-5'>
            <div class='col card-header'>
                <h5>Comments Liked</h5>
            </div>
            <div class='list-group'>
                {% if profile_user.comment_likes.all %}
                    {% for comment in profile_user.comment_likes.all %}
                    <a href="{% url 'post' comment.post.id %}" class='list-group-item list-group-item-action'>
                        <div>
                            {{ comment.content }}
                        </div>
                        <div>
                            <small>posted {{comment.date_posted}} by {{ comment.commenter }}</small>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <p class='d-flex pt-2 justify-content-center'>No Comments Liked</p>
                {% endif %}
            </div>
        </div> {% endcomment %}
        {% if page_obj.paginator.num_pages > 1 %}
            <div class='card-footer d-flex justify-content-end'>
                <span class='step-links'>
                    {% if page_obj.has_previous %}
                        <a href="?page=1">First</a>
                        |
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif%}
        
                    <span class='current'>
                        [Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}]
                    </span>
                    
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        |
                        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock content %}