{% extends 'blog/profile_base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<div class='py-3 my-3' style="background-color: #f7f8f9;">
    <h4 class='lead pl-2'>Sign Up</h4>
</div>
{% endblock header %}

{% block content %}
<div class='form-group p-3' style="background-color: #f7f8f9;">
    <form action="" method='POST'>
        {% csrf_token %}
        {{ register_form | crispy}}
        <div class='row'>
            <small class='mr-auto pl-2 align-self-center'>Already Have An Account? <a href="{% url 'login' %}">Login</a></small>
            <button type='submit' class='btn btn-outline-primary mr-2'>Register</button>
        </div>
    </form>
</div>
{% endblock content %}