{% extends 'blog/base.html' %}

{% block header %}
    <div class='row py-3 border-bottom'>
        <div class='mr-auto'>
            <h4>Your Subscriptions</h4>
        </div>
    </div>
{% endblock header %}

{% block content %}
    {% if subbed_boards %}
        <div class='list-group py-3'>
            {% for board in subbed_boards %}
                <div class='py-1'>
                    <a href="{% url 'board-detail-list' board.pk %}" class='list-group-item list-group-item-action'>
                        <div>
                            <h5>{{ board.title }}</h5>
                        </div>
                        <div>
                            <small>{{ board.description }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class='jumbotron m-3'>
            <h3 class='display-4'>Looks like there aren't any boards here!</h3>
            <div class='border-top pt-3'>
                <small class='text-muted'>To subscribe to a board, click the "Subscribe" button next to the board.</small>
            </div>
        </div>
    {% endif %}
{% endblock content %}