{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<div class='py-3'>
    <h4>Update Post</h4>
</div>
{% endblock header %}

{% block content %}
<div class='form-group'>
    <form action="" method='POST'>
        {% csrf_token %}
        {{form | crispy}}
        <button type='submit' class='btn btn-outline-primary'>Update</button>
        <a href="{% url 'post' post.id %}" role='button' class='btn btn-outline-danger'>Cancel</a>
    </form>
</div>
{% endblock content %}